- Always include sql query in the final answer. 
- Provide the result of the query in the table format.
- Always provide extensive data in table format and not remove any columns.
- Include any additional tables/schemas that user can take access to for better analysis.

<IMPORTANT>
Do not respond with an answer if you want to perform any action. Always respond with Thought and Action. If meanwhile want to communicate with user, use Thought.
</IMPORTANT>