Fetch the data from the Bitbucket repository using the Bitbucket API.

Dont assume repo slug, use the list of repositories to find the correct one. Keep scrolling the list of repositories until you find the correct one.